/*
Author: arisdwisulistiawan.com
Follow: @arisds
*/

body{ font-size: 14px; color: #000000; }
.relative{ position: relative; }
.header, .section, .footer{ margin: 0; padding: 0; }
.navbar{ text-transform: uppercase; font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
.navbar-default{ background-color: rgba(255,255,255,0.7); border: none; margin-bottom: 0; }
.navbar-brand{ padding: 20px 0 10px; }
.navbar-default .navbar-nav>li>a{ color: #000000; font-weight: 700; }
.dropdown-menu>li>a{ padding: 10px 20px; }
.panel-default>.panel-heading{ background: #ffffff; }
.panel-default>.panel-heading+.panel-collapse>.panel-body{ border-top: none; }
a.btn-default{ border: 1px solid #ffffff; border-radius: 10px; padding: 5px 20px; background: none; color: #ffffff; font-family:'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
a.btn-primary{ border:none; background: #0054a6; font-size: 12px; font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 700; padding: 10px 20px }
.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 { position: relative; min-height: 1px; padding-right: 10px; padding-left: 10px; }
.col-xs-15 { width: 20%; float: left; }
.cl-grey{ color:#444444 }
.cl-blue{ color: #0153a5 }
.cl-orange{ color:#f6800e }
.cl-red{ color:#e62128 }
.cl-white{ color:#ffffff; }

.dropdown-toggle.language{ font-size: 12px; font-weight: 400; border-radius:20px;  border: 1px solid #ddd; padding: 4px 10px; margin: 26px 0 0 }

header .navbar-form{ padding-top: 15px; }
header .navbar-form input{ background: none; border-radius:30px;  }
header .navbar-form input:hover, header .navbar-form input:focus{ background: #ffffff; border: 1px solid #999; }

section.headline{ position: relative; margin: 0; padding: 0; color: #0153a5; font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
section.headline .carousel-caption{ text-shadow: none; }
section.headline .carousel-caption.left-content{ text-align: left; bottom: 0; left: 5%; right: 50%; color:#0153a5;  }
section.headline .carousel-caption.right-content{ text-align: left; bottom: 0; right: 5%; left: 50%; color:#0153a5;  }
section.headline .carousel-caption .sponsored{ margin-top: 120px; }
section.headline .carousel-caption h1{ padding: 10px 0; margin: 0; font-weight: 800; }
section.headline .carousel-caption h2{ padding: 0; margin: 0; font-weight: 400; }
section.headline .carousel-control{ background: none; width: 5%; text-shadow: 0 0 3px rgba(0,0,0,.9); }

section.content-produk{ position: relative; margin: 0; padding: 40px 0; }
section.content-produk h1{ font-size: 18px; color: #000000; font-weight: 800; }
section.content-produk p{ font-size: 14px; color: #999999; }
section.content-produk a{ font-size: 14px; font-weight: 700; }

section.brand{ position: relative; margin: 0; padding: 0; }
section.brand .parralax-css{ min-height: 300px;position: relative; background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover; z-index:1; }
section.brand .parralax-css .caption{  position: absolute; right: 0; top: 0; bottom: 0; background: transparent url('../img/bg-banner-home.png') left top; width: 40%; }
section.brand h1, section.brand h6{ width: 100%; color: #ffffff; margin: 20px auto; }
section.brand h1{ padding: 30px 0 0 140px; }
section.brand h6{ padding: 0 0 0 140px; }
section.brand .position-brand{ padding: 0 0 0 190px; }

section.brand .position-brand a{ display: inline-block; font-size: 8px; color: #ffffff; vertical-align: top; text-align: center; padding: 0 10px }
section.brand .position-brand a:first-child{ border-right: 1px solid #ffffff; }
section.brand .position-brand a:last-child{ border-left: 1px solid #ffffff; }

section.surety-bond{ background: #0C519D; padding: 20px 0; }
section.surety-bond h1{ color: #ffffff; font-weight: 800; font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; padding: 15px 0; margin: 0; font-size: 38px; text-align: center; }
section.surety-bond p.fluid-content{ width: 80%; margin: 0 auto 20px; text-align: center; color: #ffffff; font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; }
section.surety-bond .sb-registry{ position: relative; margin: 40px 0; color: #ffffff; }
section.surety-bond .sb-registry p{ margin: 10px 0; }
section.surety-bond .sb-registry a{ color: #ffffff; }
section.surety-bond ul.produk-unggulan{ list-style: none; padding: 0; margin: 0; text-align: center; }
section.surety-bond ul.produk-unggulan li{ display: inline-block; margin: 0 30px; width: 150px; vertical-align: top; }

.content-video-foto-news{ background: #f3f3f5; padding: 20px 0; }
.content-video-foto-news h5{ font-size: 20px; line-height: 36px; font-weight: 700; font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
.content-video-foto-news .content-video{ width: 100%; margin: 0; padding: 0; }
.content-video-foto-news .content-video iframe{ width: 100%; min-height: 200px; }
ul.list-unstyled{ list-style: none; margin: 0; padding: 0; }
ul.list-unstyled li{ width: 100%; position: relative; margin: 15px 0; }
.media-body{ font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
.media-body h1, section.content-rubrik .media-body h1{ font-size: 14px; font-weight: 700; padding: 0; margin: 0; color: #000000; }
.media-body p{ color: #444444; font-size: 12px; }
.media-body p strong{ font-weight: 700; }

section.internal-link h1{ font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 700; text-align: center; }

section.head-breadcrumb{ background: transparent center center no-repeat; height: 300px; overflow: hidden; font-size: 12px; font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #ffffff; position: relative; }
section.head-breadcrumb:before{ left: 0; top: 50%; border: solid transparent; content:""; height: 0; width: 0; position: absolute; pointer-events: none; border-left-color: rgba(0,0,0,0.3); border-width: 980px; margin-top: -1380px; z-index: 1; }
section.head-breadcrumb h1{ color: #ffffff; position: absolute; z-index: 2; top: 40%; }
section.head-breadcrumb .link-breadcrumb{ position: absolute; z-index: 2; top: 65%; }
section.head-breadcrumb a{ padding: 5px 10px; color: #ffffff; }
section.head-breadcrumb a.active{ background: #fff; position: relative; margin-right: 15px; color: #000000; }
section.head-breadcrumb a.active:before { left: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-left-color: #fff; border-width: 12px; margin-top: -12px; }

section.content-post, section.content-contact, section.content-rubrik, section.content-program, section.content-majalah, section.content-video{ position: relative; font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
section.content-post .post{ margin: 30px 0; padding: 0; position: relative; }
section.content-post .post img{ width: 100% }
section.content-post .post h1{ font-weight: 700; }

section.content-contact ul.list-contact{ list-style: none; margin: 0; padding: 0; }
section.content-contact ul.list-contact li{ margin: 10px 0; }
section.content-contact .post{ margin: 30px 0; padding: 0; position: relative; }
section.content-contact .post .input-group{ width: 100%; margin-bottom: 20px; }
section.content-contact .post .input-group .textarea{ width: 100%; margin-bottom: 20px; height: 200px; }
section.content-contact .post .btn-default{ font-weight: 700; }
section.content-contact iframe{ width: 100%; height: auto; }

section.content-rubrik .post{ margin: 30px 0; padding: 0; position: relative; }
section.content-rubrik h1{ font-weight: 700; font-size: 28px; }
section.content-rubrik p{ font-size: 15px; }
section.content-rubrik .date-time{ font-size: 12px; color: #999; font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif; border-bottom: 1px solid #cccccc; padding-bottom: 10px; margin-bottom: 10px; }
section.content-rubrik .post .content{ margin-bottom: 30px; }

section.content-program .batas-atas{ margin-top: 30px; padding-bottom: 10px; position: relative; border-top: 1px solid #cccccc; }
section.content-program .batas-atas:before{ position: absolute; content: ""; border-top: 1px solid #002D80; width: 20%; top: -1px; left: 0; }
section.content-program .batas-atas:after{ position: absolute; content: ""; border-top: 4px solid #002D80; width: 10%; top: -3px; left: 5%; }
section.content-program .panel-group a{ text-decoration: none; }
section.content-program .panel-group .icon-produk{ float: left; margin-right:10px; width: 95px;  }
section.content-program .panel-group .head-title{ font-size: 22px; font-weight: 800; text-transform: uppercase; }
section.content-program .panel-group .title{ font-size: 32px; font-weight: 800; border-bottom: 1px solid #cccccc; display: inline-block; padding-top: 5px; padding-bottom: 15px; text-transform: uppercase; width: 75%; line-height: 30px; }

section.content-program-exit{ background: #ececec; position: relative; font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; padding: 15px 0; }
.owl-link .owl-nav, .owl-product .owl-nav, .owl-non-program .owl-nav{ display: none; }
.owl-non-program .item{ text-align: center; }
.owl-non-program .item a, section.content-program-exit a{ color: #000000; text-decoration: none; font-weight: 700; font-size: 14px; }

section.content-majalah .flowplayer{ background: #555555; padding: 15px 0; text-align: center; }
section.content-majalah .majalah-display{ padding: 15px 0; }
section.content-majalah .majalah-display h1{ font-size: 20px; font-weight: 700; }
section.content-majalah .majalah-display h6{ font-size: 11px; color: #999999; }
section.content-majalah .majalah-display p a{ color: #000000; font-size: 13px; font-weight: 700; text-decoration: none;  }

section.content-video .video{ padding: 30px 0; background: #555555 }
section.content-video .content{ padding: 30px 0; }
section.content-video .content a{ display: block; margin: 10px 0; color: #000000; font-weight: 700; text-decoration: none; }

.widget{ position: relative; margin: 30px 0; padding: 0; }
.widget h3, section.content-contact h3, section.content-rubrik h3{ color: #000000; font-weight: 700; margin: 0; padding-bottom: 10px; font-size: 18px; text-transform: uppercase; }
.widget ul.list-border{ list-style: none; margin: 0; padding: 0; }
.widget ul.list-border li{ border-left: 3px solid #002D80; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; border-right: 1px solid #cccccc; padding:10px; margin: 10px 0; }
.widget ul.list-border li a{ color: #000000; font-size: 14px; }
.widget ul.list-news{ position: relative; list-style: none; margin: 0; border: 1px solid #cccccc; padding: 10px; }
.widget ul.list-news li{ padding: 10px 0; border-bottom: 1px solid #eeeeee; }
.widget ul.list-news li p{ margin: 15px 0 0; }
.widget ul.list-news li:last-child{ border: none; padding-bottom: 0; }
.widget ul.list-news li:first-child{ padding-top: 0; }
.widget ul.list-news:before{ position: absolute; content: ""; border-top: 1px solid #002D80; width: 40%; top: -1px; left: 0; }
.widget ul.list-news:after{ position: absolute; content: ""; border-top: 4px solid #002D80; width: 30%; top: -3px; left: 5%; }
.widget.tag a{ display: inline-block; background: #cccccc; color: #000000; padding: 4px 10px; margin: 5px; font-size: 12px; font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.manajemen-profil{ font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; padding: 15px 0; }
.manajemen-profil h2{ font-size: 16px; text-transform: uppercase; font-weight: 700; line-height: 24px; }
.manajemen-profil .passfoto{ width: 100%; margin: 0 auto; height: auto; }
.manajemen-profil h3{ font-size: 13px; text-transform: uppercase; text-align: center; font-weight: 400; line-height: 18px; margin: 0; padding: 10px 0 0; }
.manajemen-profil h3.jabatan{ min-height: 50px; }
.manajemen-profil p{ text-align: justify; font-size: 12px; }

.quote{ width: 100%; position: relative; background: #ffffff; border: 1px solid #dddddd; text-align: center; margin: 15px 0; }
.quote .owl-quote .owl-item h1 img{ text-align: center; width: 60px; display: inline-block; }
.quote .owl-quote .owl-item h1 { padding-bottom: 40px; }
